
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #3886b7;
    color: #000000;
    padding: 20px;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    background-color: rgb(77, 118, 167);

}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    width: 20%;
    
}

section h2 {
    margin-bottom: 10px;
}

section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Estilos para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}


body {

    background-color: rgb(145, 242, 255)

}
